.wrapper {
  position: relative;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: var(--chakra-colors-teal-900);
}

.map {
  width: 90%;
  height: 600px;
  border-radius: 8px;
  overflow: hidden;
}
